body, html, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
}

.logo {
  width: 100%;
  height: auto;
  filter: blur(1px) brightness(150%);
  transition: filter 1s ease-in-out;
}

.logo-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  filter: blur(50px);
  transform: translate(-50%, -50%);
  z-index: -1;
}

@keyframes spring {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
    filter: blur(1px) brightness(150%);
  }
}
